.container {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.time {
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 4px 10px;
  margin-right: 5px;
}
